.blogTemplate__title {
  font-size: 3rem;
  max-width: 70%;
  text-align: center;
}

.blogTemplate__date {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.blogTemplate__headerImage {
  width: 80vw;
}

.blogTemplate__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.blogTemplate__content p {
  max-width: 70%;
  text-align: left;
}

.blogTemplate__link {
  position: fixed;
  top: 400px;
  left: -2px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid #000;
  padding: 8px 16px;
  font-size: 0.8rem;
  text-decoration: none;
}

@media (max-width: 600px) {
  .blogTemplate__link {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 24px;
  }
}
