.blogTemplate__title {
  font-size: 3rem;
  max-width: 70%;
  text-align: center;
  margin-top: 0;
}

.blogTemplate__date {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.blogTemplate__headerImage {
  width: 80vw;
}

.blogTemplate__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  font-size: 1.4rem;
  line-height: 44px;
}

.blogTemplate__content p {
  width: 70%;
  text-align: left;
}

.blogTemplate__content > ul,
.blogTemplate__content > ol {
  max-width: 70%;
}

.blogTemplate__content .gatsby-highlight {
  width: 70%;
}

.blogTemplate__content > h1,
.blogTemplate__content > h2,
.blogTemplate__content > h3,
.blogTemplate__content > h4 {
  margin-top: 60px;
  max-width: 70%;
  text-align: center;
}

.blogTemplate__content > h1 {
  font-size: 3rem;
}
.blogTemplate__content > h2 {
  font-size: 2.5rem;
}

.blogTemplate__content a {
  color: #000;
}

.blogTemplate__link {
  position: fixed;
  top: 400px;
  left: -2px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid #000;
  padding: 8px 16px;
  font-size: 0.8rem;
  text-decoration: none;
}

@media (max-width: 850px) {
  .blogTemplate__content {
    width: 90vw;
  }
}

@media (max-width: 600px) {
  .blogTemplate__link {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 24px;
  }
}
