.course {
  display: flex;
  height: 228px;
  max-width: 650px;
  border: 2px solid #000;
  position: relative;
}

.course__title {
  margin: 16px 0;
  font-family: "Questrial";
  font-size: 1.6rem;
}

.course__link {
  position: absolute;
  width: 110px;
  height: 70px;
  border: 2px solid #000;
  right: -1px;
  bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 4px;
}

.course__icon {
  z-index: -1;
  border-right: 2px solid #000;
}

.course__buttonIcon {
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin: 0;
  margin-bottom: 8px;
}

.course__content {
  width: calc(100% - 225px);
  margin: 0 24px;
}

@media (max-width: 600px) {
  .course__link {
    width: 120px;
    height: 54px;
  }

  .course__buttonIcon {
    width: 14px;
    height: 14px;
  }

  .course__content p {
    line-height: 20px;
    font-size: 14px;
  }

  .course__title {
    font-size: 20px;
  }

  .course {
    height: 258px;
    width: 95vw;
  }

  .course__icon {
    height: 258px !important;
    width: 258px !important;
  }
}

@media (max-width: 500px) {
  .course {
    flex-direction: column;
    height: auto;
    padding: 24px;
  }

  .course__icon {
    align-self: center;
  }

  .course__content {
    width: auto;
  }

  .course__title {
    font-size: 26px;
  }

  .course__description {
    font-size: 16px;
  }
}
