.index__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75vw;
  margin-top: 100px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

@media (max-width: 1330px) {
  .index__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
