.tables__title {
  font-family: "Questrial";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.tables__table {
  border: 2px solid #000;
  table-layout: fixed;
  max-width: 800px;
}

.tables__table th {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

.tables__table th,
.tables__table td {
  padding: 16px 24px;
}

.tables__table th {
  border-bottom: 2px solid #000;
}

.tables__table td {
  border: none;
}

.tables__table-body td {
  width: 33%;
}

.tables__table a {
  color: #000;
  text-decoration: none;
}

.tables__table a:hover,
.tables__table a:focus {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .tables__table {
    width: 90vw;
  }
}
