.backlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1400px;
}

.backlog > .blogPost {
  width: 75%;
}

@media (max-width: 630px) {
  .backlog .blogPost {
    width: 80vw;
  }
}

@media (max-width: 1330px) {
  .backlog {
    height: auto;
    margin-bottom: 100px;
  }
}
