.blogPost {
  border: 2px solid #000;
  width: 100%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 40px 32px;
}

.blogPost__headerImage {
  width: 100%;
  height: 340px;
  border-bottom: 2px solid #000;
  margin: 0;
  object-fit: cover;
}
@media (max-width: 800px) {
  .blogPost__headerImage {
    height: 200px;
  }
}

.blogPost a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  border-top: 2px solid #000;
  cursor: pointer;
  min-width: 128px;
  height: 74px;
}

.blogPost__title {
  font-size: 24px;
  margin: 0;
}

.blogPost__content {
  display: flex;
  flex-direction: column;
}

.blogPost__textContent {
  display: flex;
  align-items: center;
  padding: 0 24px;
  min-height: 150px;
}

.blogPost__buttonIcon {
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin: 0;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .blogPost__content {
    flex-direction: column;
  }

  .blogPost__textContent {
    max-width: none;
  }

  .blogPost__title {
    font-size: 24px;
    margin-top: 0;
  }

  .blogPost .blogPost__button {
    border-left: none;
    border-top: 2px solid #000;
    padding: 12px;
  }
}
