.featuredPost {
  border: 2px solid #000;
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.featuredPost__featured {
  position: absolute;
  top: -16px;
  left: -2px;
  background-color: white;
  padding: 16px 24px;
  border: 2px solid black;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #000;
  font-size: 12px;
}

.featuredPost__headerImage {
  width: 100%;
  height: 340px;
  border-bottom: 2px solid #000;
  margin: 0;
}

.featuredPost a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  border-left: 2px solid #000;
  cursor: pointer;
  width: 240px;
  text-align: center;
}

.featuredPost__title {
  font-size: 34px;
  margin: 0;
  margin-top: 16px;
}

.featuredPost__description {
  margin: 0;
  margin-bottom: 16px;
  max-width: 85%;
}

.featuredPost__content {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
}

.featuredPost__textContent {
  padding-left: 24px;
}

.featuredPost__buttonIcon {
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin: 0;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .featuredPost {
    max-width: 85%;
  }
}
