header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
}

.header__tagline {
  text-transform: uppercase;
  letter-spacing: 6px;
}

.header__title {
  font-size: 72px;
}

@media (max-width: 500px) {
  .header__title {
    font-size: 16vw;
  }
}

.header__title a {
  color: #000;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  overflow-x: hidden;
}

@media (max-width: 860px) {
  .header__tagline {
    max-width: 60%;
    text-align: center;
  }
}
