.nav {
  border: 1px solid #979797;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  margin: 0;
}

.nav__listItem {
  list-style: none;
  padding: 0 24px;
  height: 48px;
  margin: 0;
  border-left: 1px solid #979797;
  display: flex;
  align-items: center;
}

.nav__list li:last-child {
  border-right: 1px solid #979797;
}

.nav__listItem a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 14px;
  color: #000;
}

.nav__listItem div {
  height: 48px;
}

.mobileNav__button {
  position: fixed;
  top: 24px;
  right: 12px;
  width: 40px;
  height: 28px;
  z-index: 90;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding: 0;
}

.mobileNav__button > img {
  margin: 0;
  z-index: 2000;
}

.mobileView {
  display: none;
}

.mobileNav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: #000;
  position: fixed;
  top: -130%;
  left: 0;
  z-index: 80;
  transition: all 0.8s cubic-bezier(0.11, 1.18, 1, 0.97);
}

.mobileNav--show {
  top: 0;
}

.mobileNav .nav__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 100px 0;
}

.mobileNav .nav__listItem {
  border: none;
}

.mobileNav .nav__listItem a {
  font-size: 2rem;
}

.mobileNav .nav__list li:last-child {
  border: none;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }

  .mobileView {
    display: block;
  }
}
